<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recomendaciones</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="style/carrusel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

</head>
<body>

    <header>
        <div class="logo">
            <img class="ajolote" src="https://static.vecteezy.com/system/resources/previews/014/456/372/non_2x/cartoon-axolotl-mascot-free-png.png"
                style="width: 200px; height: 200px;">
        </div>
        <div class="titulo">
            <h1>--Informium-Español--</h1><br>
        </div>
        
    </header>
    <a href="../Index.html" style="text-decoration: none;color: #FF69B4; "> Regresar <i class="fa-solid fa-rotate-right"></i></a>

    <div class="contenido">
<h1 class="tituloarticulo">Fuentes Bibliograficas</h1>

<ul>
    <li><p>Cortes, E. (2024, June 6). ¿Cómo va México con la adopción de servicios de nube? Integra IT Soluciones. https://integrait.com.mx/blog/como-vamos-en-mexico-con-la-adopcion-de-servicios-de-nube/</p></li>
    <li><p>(13) La adopción de la nube en la gestión de IT: Beneficios, desafíos y mejores prácticas | LinkedIn. (n.d.). https://www.linkedin.com/pulse/la-adopci%C3%B3n-de-nube-en-gesti%C3%B3n-beneficios-desaf%C3%ADos-y-mejores/</p></li>
    <li><p>Expansión. (2021, June 14). La adopción de la nube en las empresas frente a la pandemia: Accenture. https://expansion.mx/tecnologia/2021/06/14/la-adopcion-de-la-nube-en-las-empresas-frente-a-la-pandemia-accenture</p></li>
    <li><p>TechTarget. (2023, January 16). Preferencias que impulsan la adopción de múltiples nubes en 2023. ComputerWeekly.es. https://www.computerweekly.com/es/opinion/Preferencias-que-impulsan-la-adopcion-de-multiples-nubes-en-2023</p></li>
    <li><p>Noticias-Tne. (2020, March 18). 5 TENDENCIAS PARA LA ADOPCIÓN DE LA NUBE. Revista TNE | Ideas Para Empresas. https://circulotne.com/5-tendencias-para-la-adopcion-de-la-nube.html</p></li>
    <li><p>edX. (n.d.). IBM: Introducción a la computación en la nube (Cloud computing). https://www.edx.org/es/learn/cloud-computing/universitat-politecnica-de-valencia-introduccion-a-la-computacion-en-la-nube-cloud-computing</p></li>
    <li><p>Hernández, K. (2022, September 1). Grid Computing: ¿Qué es y cuáles son sus características? https://www.servnet.mx/blog/grid-computing-que-es-y-cuales-son-sus-caracteristicas</p></li>
    <li><p>Cloud Computing y Grid Computing. (2019, September 1). Conogasi. https://conogasi.org/articulos/cloud-computing-y-grid-computing/</p></li>
    <li><p>Jones, E. (2023, September 11). Cuota de mercado de la nube: Una mirada al ecosistema de la nube en 2024. Kinsta®. https://kinsta.com/es/blog/cuota-de-mercado-de-la-nube/</p></li>
    <li><p></p></li>
    <li><p></p></li>
</ul>


    </div>


</body>

</html>
